<!-- include header -->
<%- include('layout/header') %>
<!-- /include header -->
    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> All category</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">New category</h2>
                <span class="text-light">Use the below form to update a new account</span>
            </div>
                <!-- form handling -->
                <form action="/update/<%= category._id %>" method="POST" enctype="multipart/form-data">
                    <div class="new_user">
                        <div class="form-group">
                            <label for="name" class="text-light">Name</label>
                            <!-- category -->                           
                            <input type="text" name="name" value="<%= category.name %>" placeholder="Mark Stoenis">
                        </div>
                        old_image
                        <input type="text" name="old_image" value="<%= category.image %>">
                        old_image
                        <div class="form-group">
                          <img src="/category/<%= category.image %>"  style="max-width: 300px;">
                            <label for="name" class="text-light">file</label>
                            <input type="file" name="image">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn text-dark update">Save</button>
                        </div>
                    </div>
                </form>
        </div>
    </main>
    <!-- /Main Site -->
<!-- include footer -->
<%- include('layout/footer') %>
<!-- /include footer -->

